---
import Layout from "../../layouts/Base.astro";
import Header from "../../components/Header.astro";
import SectionHi from "../../components/SectionHi.astro";
import SectionPast from "../../components/SectionPast.astro";
import SectionSkills from "../../components/SectionSkills.astro";
import SectionContact from "../../components/SectionContact.astro";
import Footer from "../../components/Footer.astro";

const lang = "nl";
---

<Layout title="Cors Kester, Front-end Developer." lang={lang}>
	<div id="container">
		<Header />
		<main>
			<SectionHi />
			<SectionPast />
			<SectionSkills />
			<SectionContact />
		</main>
		<Footer />
	</div>
</Layout>
