---
import Layout from "../../layouts/Base.astro";
import Header from "../../components/Header.astro";
import SectionHi from "../../components/SectionHi.astro";
// import SectionFuture from '../../components/SectionFuture.astro';
import SectionPast from "../../components/SectionPast.astro";
import SectionSkills from "../../components/SectionSkills.astro";
import Tools from "../../components/Tools.astro";
import Footer from "../../components/Footer.astro";

const lang = "en";
---

<Layout title="Cors Kester, Front-end Developer." lang={lang}>
	<div id="container">
		<Header />
		<main>
			<SectionHi />
			<!-- <SectionFuture /> -->
			<SectionPast />
			<SectionSkills />
		</main>
		<Footer />
	</div>
</Layout>
