---
import Layout from '../../layouts/Base.astro';
import Header from '../../components/Header.astro';
import SectionHi from '../../components/SectionHi.astro';
import SectionFuture from '../../components/SectionFuture.astro';
import SectionPast from '../../components/SectionPast.astro';
import SectionSkills from '../../components/SectionSkills.astro';
import SectionTools from '../../components/SectionTools.astro';
import Footer from '../../components/Footer.astro';
---

<Layout title="Cors Kester, UI Developer." lang="en">
	<div id="container">
		<Header />
		<main>
			<SectionHi />
			<SectionFuture />
			<SectionPast />
			<SectionSkills />
			<SectionTools />			
		</main>
		<Footer />
	</div> 

</Layout>