---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import SectionHi from '../components/SectionHi.astro';
import SectionIntro2 from '../components/SectionFuture.astro';
import SectionPast from '../components/SectionPast.astro';
import SectionSkills from '../components/SectionSkills.astro';
import SectionTools from '../components/SectionTools.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Cors Kester, UI Developao." lang="pt">
	<div id="container">
		<Header />
		<main>
			<SectionHi />
			<SectionIntro2 />
			<SectionPast />
			<SectionSkills />
			<SectionTools />			
		</main>
		<Footer />
	</div>

</Layout>