---
import Nav from '../components/Nav.astro';
const { lang } = Astro.props;
---

<header id="header-page">
	<div class="scroll-line"></div>
	<div class="container" id="nav-container">
		<Nav lang={lang} />
	</div>
</header>
