---
import Nav from '../components/Nav.astro';
import HeaderNavAccessibility from '../components/HeaderNavAccessibility.astro';


---

<header id="header-page">
	<div class="scroll-line"></div>
	<div class="container" id="nav-container">
		<Nav />
		<HeaderNavAccessibility />
	</div>
</header>

<style>
	
</style>