---
import HeaderNavItem from './HeaderNavItem.astro'
---
<nav id="nav-top" role="navigation" aria-label="Hoofdmenu">
<a href="./v2023" title="Terug naar de homepage" id="homelink"><img src="./img/logo-ck.png" alt="Cors Kester, UI Developer, Portfolio"/></a>
	<ul id="pages">
		<HeaderNavItem text="Hi" link="#Hi"/>
		<HeaderNavItem text="Future" link="#Future"/>
		<HeaderNavItem text="Past" link="#Past"/>
		<HeaderNavItem text="Skills" link="#Skills"/>
		<HeaderNavItem text="Tools" link="#Tools"/>
		<HeaderNavItem text="Contact" link="#Contact"/>
	</ul>
</nav>