---
import { languages } from "../i18n/ui";
const { lang, label } = Astro.props;
---

<script>
	let padnaam = window.location.pathname;
	let langcode = padnaam.substring(1, 3);
	document.getElementById("nav-languages").value = langcode;
</script>

<div id="nav-accessibility-language">
	<svg
		width="25"
		height="24"
		viewBox="0 0 25 24"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
		><path
			d="M12.7875 2C7.25773 2 2.77979 6.48 2.77979 12C2.77979 17.52 7.25773 22 12.7875 22C18.3274 22 22.8153 17.52 22.8153 12C22.8153 6.48 18.3274 2 12.7875 2ZM19.7298 8H16.7746C16.454 6.75 15.9932 5.55 15.3921 4.44C17.2354 5.07 18.7681 6.35 19.7298 8ZM12.7975 4.04C13.629 5.24 14.2802 6.57 14.7109 8H10.8842C11.3149 6.57 11.9661 5.24 12.7975 4.04ZM5.0438 14C4.88352 13.36 4.78334 12.69 4.78334 12C4.78334 11.31 4.88352 10.64 5.0438 10H8.4298C8.34966 10.66 8.28956 11.32 8.28956 12C8.28956 12.68 8.34966 13.34 8.4298 14H5.0438ZM5.86526 16H8.8205C9.14106 17.25 9.60188 18.45 10.2029 19.56C8.35968 18.93 6.82696 17.66 5.86526 16ZM8.8205 8H5.86526C6.82696 6.34 8.35968 5.07 10.2029 4.44C9.60188 5.55 9.14106 6.75 8.8205 8ZM12.7975 19.96C11.9661 18.76 11.3149 17.43 10.8842 16H14.7109C14.2802 17.43 13.629 18.76 12.7975 19.96ZM15.1417 14H10.4534C10.3632 13.34 10.2931 12.68 10.2931 12C10.2931 11.32 10.3632 10.65 10.4534 10H15.1417C15.2319 10.65 15.302 11.32 15.302 12C15.302 12.68 15.2319 13.34 15.1417 14ZM15.3921 19.56C15.9932 18.45 16.454 17.25 16.7746 16H19.7298C18.7681 17.65 17.2354 18.93 15.3921 19.56ZM17.1653 14C17.2454 13.34 17.3055 12.68 17.3055 12C17.3055 11.32 17.2454 10.66 17.1653 10H20.5513C20.7116 10.64 20.8118 11.31 20.8118 12C20.8118 12.69 20.7116 13.36 20.5513 14H17.1653Z"
			fill="white"></path></svg
	>
	<select
		id="nav-languages"
		class="header-button language-select"
		value={lang}
	>
		{
			Object.entries(languages).map(([code, name]) => (
				<option value={code}>{name}</option>
			))
		}
	</select>
</div>
<script>
	window.location.pathname.substring(1, 3);
	import type { string } from "astro/zod";
	let navLang = document.getElementById("nav-languages");
	if (navLang !== null) {
		navLang.onchange = function (e) {
			const target = e.target as HTMLSelectElement;
			if (target !== null) {
				let newLang = target.value;
				window.location.pathname = `${newLang}/`;
			}
		};
	}
</script>
