<div class="svgWrapper">
	<!-- <object type="image/svg+xml" data="../img/ck-logo-mask.svg" width="280" height="360"></object> -->
</div>
<style>
.svgWrapper{max-width:15em;height:auto;position:relative}
.svgWrapper svg{max-width:100%;height:auto;}
.svgWrapper rect{fill:lime!important;}

</style>