---
import { getLangFromUrl, useTranslations } from '../i18n/utils.ts';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
import NavItem from './NavItem.astro'
const logoSrc='/img/ck-logo-v3.svg';
---
<nav id="nav-top" role="navigation" aria-label="Hoofdmenu">
	<a href="./" title="Terug naar de homepage" id="homelink"><img src="../img/ck-logo-wit.svg" alt=""/></a>
	<ul id="pages">
		<NavItem title={t('nav.Hi')} />
		<NavItem title={t('nav.Future')} />
		<NavItem title={t('nav.Past')} />
		<NavItem title={t('nav.Skills')} />
		<NavItem title={t('nav.Tools')} />
		<NavItem title={t('nav.Contact')} />
	</ul>
</nav>
