---
const {title,lang} = Astro.props;

export interface Props {
	title: string;
	body: string;
	href: string;
}

import { lang, useTranslations } from '../i18n/utils.ts';
const t = useTranslations(lang);
---
<li><a href={`/${lang}/#${title}`} title={`${t('lt.JumpTo')} ${title}`}>{title}</a></li>