---
const { title, lang } = Astro.props;
import { useTranslations } from "../i18n/utils";
const t = useTranslations(lang);
---

<li>
	<a href={`/${lang}/#${title}`} title={`${t("lt.JumpTo")} ${title}`}>
		{title}
	</a>
</li>
