---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section id={t("nav.Contact")}>
	<div class="container">
		<h2>Get in touch?</h2>
		E-mail me at <a href="mailto:ckdev88@outlook.com">ckdev88@outlook.com</a
		> or have look at my <a
			href="https://github.com/ckdev88"
			target="_blank">Github</a
		>
		first.
	</div>
</section>
