---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const logoSrc = "../img/ckdev-logo.svg";
const logoSrcLight = "../img/ckdev-logo-light.svg";
---

<section id="section-hi">
	<span id={t("nav.Hi")} class="section-anchor t-0"></span>
	<div class="container">
		<div class="grid-item intro">
			<h1>Ola, I'm Cors,<sub>Front-end web developer.</sub></h1>
			<p>
				More than 15 years of professional experience building products
				for businesses ranging from simple promotional websites to
				enterprise webshops.<br />
				Specialized in front-end development, with accessibility, performance
				and ease of use as priorities, so the end result is as inclusive
				as possible.
			</p>
		</div>
		<div class="grid-item logo">
			<img
				src={logoSrcLight}
				alt="CK, Front-end developer"
				id="logo-ck-big"
			/>
		</div>
	</div>
</section>
