---
import { getLangFromUrl, useTranslations } from '../i18n/utils.ts';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section id=Hi><a name={t('nav.Hi')}></a>
	<div class="container">
		<div class="grid-item intro">
			<h1>Hi, ik ben Cors.<br/>UI web developer</h1>
			<p>More than 15 years of experience in building custom web solutions. <br/>
			Building solutions and interfaces for clients. <br/>
			Usability and a nice experience always go first. </p>
		</div>
		<div class="grid-item logo">
			<img src="../../img/ckdev-logo.png" alt="Crs Kester, UI Developer, Portfolio"/>
		</div>
	</div>
</section>
