---
import Skilltree from './Skilltree.astro';
import Tools from './Tools.astro';
import { getLangFromUrl, useTranslations } from '../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<section id="Skills">
	<div class="container" id={t('nav.Skills')}>
		<!-- <div class="grid-item skilltree"> -->
			<Skilltree /> 
		<!-- </div> -->
	</div>
</section>