---
import Skilltree from './Skilltree.astro';
import Tools from './Tools.astro';
import { getLangFromUrl, useTranslations } from '../i18n/utils.ts';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<section id="Skills"><a name={t('nav.Skills')}></a>
	<div class="container">

		<!-- <div class="grid-item skilltree"> -->
			<Skilltree /> 
		<!-- </div> -->
	</div>
</section>