---
const { lang, pastId, extraClass } = Astro.props;
import SectionPastItem from "./SectionPastItem.astro";
import BadgeItem from "./BadgeItem.astro";
---

<div id=`past-${pastId}`>
	<div class="container">
		<article
			aria-labelledby=`past-header${pastId}`
			class=`grid-container ${extraClass}`
		>
			{
				pastId == "1" ? (
					<>
						<div class="past-article-intro">
							{lang === "en" ? (
								<h3>
									Self employed<sub>2021 - current</sub>
								</h3><p>
								Took some time to take on various private projects, while doing
								some small projects on the side, using a variety of frameworks
								and techniques.
							</p>
							) : (
								<h3>Freelancer<sub>2021 - huidig</sub></h3>
								<p>Freelancer geworden, zodat ik mijn tijd aan verschillende priv&eacute;-projecten kan werken en tegelijk nieuwe technieken kan ontwikkelen.</p>
							)}
							<ul>
								<BadgeItem title="Vue" />
								<BadgeItem title="React" />
								<BadgeItem title="PostCSS" />
								<BadgeItem title="Figma" />
								<BadgeItem title="Python" />
								<BadgeItem title="Astro" />
								<BadgeItem title="WCAG" />
								<BadgeItem title="PHP" />
								<BadgeItem title="Supabase" />
							</ul>
						</div>
						<aside class="thumbs" aria-hidden="true">
							<div class="grid-container">
								<SectionPastItem
									img="../img/feeder-supabase-logo.webp"
									name="Feed reader Supabase"
									w="108"
									h="41"
									skills="PHP, Vanilla JS, Supabase"
								/>
								<SectionPastItem
									img="../img/dagindeling-logo.avif"
									name="Dagindeling"
									w="108"
									h="41"
									skills="Vue,EcmaScript,Firebase"
								/>
								<SectionPastItem img="../img/timer-logo.svg" name="Timer deluxe" w=80 h=80 skills="Vanilla JS" link="https://ckdev88.github.io/timer" />
								<SectionPastItem
									img="../img/python-stocks-logo.avif"
									name="Python Stocks"
									w="108"
									h="86"
									skills="Python"
								/>
								<SectionPastItem
									img="../img/ckdev-logo.svg"
									name="Portfolio"
									w="57"
									h="72"
									skills="Astro,React,Figma,SupaBase,PostCSS"
								/>
							</div>
						</aside>
					</>
				) : (
					""
				)
			}
			{
				pastId == 2 ? (
					<>
						<div class="past-article-intro">
							{lang === "en" ? (
							<h3>
								Visma PlusPort<sub>2017 - 2021</sub>
							</h3>
							<p>
								Lead developer responsible for the front-end and
								accessibility (WCAG 2.1) of our main product: PlusPort LMS, as
								well as our own websites and other web services.
							</p>):(	<h3>
								Visma PlusPort<sub>2017 - 2021</sub>
							</h3><p>
								Lead developer, verantwoordelijk voor de front-end en toegankelijkheid (WCAG 2.1) van ons hoofdproduct: PlusPort LMS, as
								well as our own websites and other web services.
							</p>)}
							<ul>
								<BadgeItem title="Bootstrap" />
								<BadgeItem title="WCAG" />
								<BadgeItem title="React" />
								<BadgeItem title="XD" />
								<BadgeItem title="ActiveCampaign" />
								<BadgeItem title="WordPress" />
								<BadgeItem title="PHP" />
							</ul>
						</div>
						<aside class="thumbs" aria-hidden="true">
							<div class="grid-container">
								<SectionPastItem
									img="../img/logo-plusport.svg"
									name="PlusPort"
									w="144"
									h="42"
									skills="React,PHP,Sass,XD,React"
								/>
								<SectionPastItem
									img="../img/plusport-lms-logo.webp"
									name="PlusPort LMS"
									w="144"
									h="86"
									skills="ActiveCampaign,React,WCAG,Sass,Bootstrap"
								/>
								<SectionPastItem
									img="../img/logo-plusport-direct.png"
									name="PlusPort Direct"
									w="144"
									h="41"
									skills="ActiveCampaign,WCAG,SEO,Bootstrap"
								/>
								<SectionPastItem
									img="../img/opleiders-direct-logo.svg"
									name="Opleiders direct"
									w="144"
									h="41"
									skills="EcmaScript,ActiveCampaign"
								/>
							</div>
						</aside>
					</>
				) : (
					""
				)
			}
			{
				pastId == 3 ? (
					<>
						<div class="past-article-intro">
							<h3>
								Clever Strategy<sub>2011 - 2017</sub>
								</h3>
								{lang==="en" ? (
								<p>
								Working as front-end developer and campaign manager, specialized
								in accountable marketing. Directly in contact with many clients,
								to fine tune the communication in running campaigns, where we
								made several flows to target and retarget the (potential)
								customers, to keep them engaged. The campaigns were a mix of
								physical and virtual, webshops, campaign-websites, e-mails and
								physical mail.
							</p>):(
							<p>
								Werkzaam als front-end developer and campaign manager, gespecialiseerd
								in accountable marketing. Direct in contact with klanten
								 om de lopende en nieuwe campagnes te optimaliseren, waarin (potentieel nieuwe) klanten worden benaderd, om de betrokkenheid hoog te houden. The campagnes waren een mix van fysiek, virtueel, webshops, campagnewebsites, e-mails en fysieke mails.
							</p>
							)}
							<ul>
								<BadgeItem title="JavaScript" />
								<BadgeItem title="Bootstrap" />
								<BadgeItem title="Photoshop" />
								<BadgeItem title="WordPress" />
								<BadgeItem title="Clang / Deploytec" />
								<BadgeItem title="Selligent" />
								<BadgeItem title="Smarty" />
							</ul>
						</div>
						<aside class="thumbs" aria-hidden="true">
							<div class="grid-container">
								<SectionPastItem
									img="../img/kruidvat-logo.svg"
									name="Kruidvat"
									w="144"
									h="66"
									skills="Deploytec,Smarty"
								/>
								<SectionPastItem
									img="../img/hema-logo.svg"
									name="HEMA"
									w="96"
									h="96"
									skills="E-mail marketing,Selligent,Smarty"
								/>
								<SectionPastItem
									img="../img/bruynzeel-keukens-logo.png"
									name="Bruynzeel Keukens"
									w="144"
									h="144"
									skills="E-mail marketing,Smarty,Photoshop"
								/>
								<SectionPastItem
									img="../img/lucardi-logo.webp"
									name="Lucardi"
									w="144"
									h="43"
									skills="E-mail marketing,Deploytec,Smarty"
								/>
								<SectionPastItem
									img="../img/optitrade-logo.svg"
									name="Optitrade"
									w="144"
									h="43"
									skills="WordPress,Photoshop,Deploytec,Smarty,Bootstrap"
								/>
								<SectionPastItem
									img="../img/total-logo.png"
									name="Total"
									w="144"
									h="144"
									skills="E-mail marketing,Deploytec,Smarty"
								/>
							</div>
						</aside>
					</>
				) : (
					""
				)
			}
			{
				pastId == "4" ? (
					<>
						<div class="past-article-intro">
							<h3>
								Fair Products Plaza <sub>2011 - 2016</sub>
							</h3>
							{lang === "en" ? (
							<p>
								Co-founded and created a webshop to sell fair products. Which
								meant all products were completely fair trade, organic, free of
								animal testing and environment friendly, really, not the
								greenwashed versions of it.
								<br />
								Sadly we had to pull the plug on the project in 2016.
							</p>
							):(<p>
								Webshop Fair Product Plaza co-opgericht en gecre&euml;erd, om hiermee daadwerkelijk eerlijke producten te verkopen. 
								Alle producten waren compleet fair trade, organic, diertestvrij en milieuvriendelijk. Maar dan &eacute;cht, niet de greenwashed versie die we nu vaak zien.
								<br />
								Helaas hebben we dit project in 2016 moeten stopzetten.
							</p>)}
							<ul>
								<BadgeItem title="Magento" />
								<BadgeItem title="SEO" />
								<BadgeItem title="Mailchimp" />
								<BadgeItem title="JavaScript" />
								<BadgeItem title="PHP" />
								<BadgeItem title="MySQL" />
							</ul>
						</div>
						<aside class="thumbs" aria-hidden="true">
							<div class="grid-container">
								<SectionPastItem
									img="../img/fairpp-logo.avif"
									name="Fair Products Plaza"
									w="120"
									h="120"
									skills="Magento,PHP,MySQL,Photoshop,Mailchimp"
								/>
							</div>
						</aside>
					</>
				) : (
					""
				)
			}
			{
				pastId == "5" ? (
					<>
						<div class="past-article-intro">
							<h3>
								Lined <sub>2006 - 2011</sub>
							</h3>
							{lang === "en" ? (
							<p>
								Worked on TroubleFree software in the first year, this is a
								backoffice administration system. After that, I designed tens
								and developed close to a hundred websites for clients and
								maintained many, often applying the latest SEO techniques.
							</p>
							):(<p>
								Het eerste jaar aan TroubleFree Software gewerkt, een software pakket dat in Microsoft Visual Basic en Access was gemaakt, omgezet naar PHP en MySQL. Hier werd mijn liefde voor front-end duidelijk. Na het eerste jaar heb ik tientallen website ontworpen ruim honderd websites ontwikkeld en tientallen onderhouden, meestal om de SEO te optimaliseren door middel van best practices.
							</p>)}
							<ul>
								<BadgeItem title="PHP" />
								<BadgeItem title="MySQL" />
								<BadgeItem title="SEO" />
								<BadgeItem title="Photoshop" />
								<BadgeItem title="JavaScript" />
								<BadgeItem title="Visual Basic" />
							</ul>
						</div>
						<aside class="thumbs" aria-hidden="true">
							<div class="grid-container">
								<SectionPastItem
									img="../img/lined-logo.svg"
									name="Lined"
									w="144"
									h="144"
									skills="PHP,HTML,CSS,MySQL,Photoshop,Illustrator,CSS,SEO"
								/>
								<SectionPastItem
									img="../img/troublefree-logo.svg"
									name="Total"
									w="144"
									h="144"
									skills="PHP,MySQL,CSS,Visual Basic,JavaScript"
								/>
							</div>
						</aside>
					</>
				) : (
					""
				)
			}
		</article>
	</div>
</div>
