---
import SectionSkillsItem from "./SectionSkillsItem.astro";
---
<section id="Skills">
	<div class="intro">
		<div class="container">
			<h2>Skills</h2>
			<p>Over the years, many skills have come and partially gone, these are the one that stuck.</p>
		</div>
	</div>
	<div id="skills-1">
		<div class="container">
			<ul class="skills-and-progress">
				<SectionSkillsItem name="HTML" className="pg-95" />
				<SectionSkillsItem name="CSS" className="pg-95" />
				<SectionSkillsItem name="JAVASCRIPT" className="pg-95" />
				<SectionSkillsItem name="ACCESSIBILITY" className="pg-95" />
				<SectionSkillsItem name="HTML E-MAIL MARKETING" className="pg-90" />
				<SectionSkillsItem name="NODE JS" className="pg-90" />
				<SectionSkillsItem name="SEARCH ENGINE OPTIMIZATION" className="pg-90" />
				<SectionSkillsItem name="VUE JS" className="pg-85" />
				<SectionSkillsItem name="GULP" className="pg-85" />
				<SectionSkillsItem name="PHP" className="pg-80" />
				<SectionSkillsItem name="WORDPRESS" className="pg-80" />
				<SectionSkillsItem name="E-MAIL MARKETING" className="pg-80" />
				<SectionSkillsItem name="REACT JS" className="pg-80" />
				<SectionSkillsItem name="TYPESCRIPT" className="pg-80" />
				<SectionSkillsItem name="PROTOTYPE &amp; WIREFRAMING" className="pg-75" />
				<SectionSkillsItem name="NPM" className="pg-75" />
				<SectionSkillsItem name="ANGULAR JS" className="pg-75" />
				<SectionSkillsItem name="SMARTY" className="pg-75" />
				<SectionSkillsItem name="MAGENTO" className="pg-75" />
			</ul>
		</div>
	</div>
</section>