---
import Skilltree from "./Skilltree.astro";
import Tools from "./Tools.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section id="section-skills">
	<a name={t("nav.Skills")} class="section-anchor"></a>
	<div class="container">
		<Skilltree />
	</div>
</section>
