---
import { getLangFromUrl, useTranslations } from '../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

import SectionPastItem from './SectionPastItem.astro';
---
<section id={t('nav.Past')}>
	<div class="intro">
		<div class="container">
			<h2>As UI developer</h2>
			Een kleine greep uit mijn gewerkte werk.
			Speciaal voor de liefhebber: onderstaand mijn portfolio. 
			Wil je mijn C.V. ook zien? Dan is die op aanvraag beschikbaar.
		</div>
	</div>
	
	<div id="past-1">
		<div class="container">
			<article aria-labelledby="past-header" class="grid-container">
				<div class="past-article-intro">
					<h3 id="past-header">Visma PlusPort</h3>
					<p>As part of a small team I was responsible for the front-end and  accessibility (WCAG 2.1) of our own website as well as some clients' websites. Also in charge of the front-end and achieving WCAG2.1 certification for our main product: the LMS (learning management system).</p>
				</div>
				<aside class="thumbs" aria-hidden="true">
					<div class="grid-container">
						<SectionPastItem img="../img/clever-strategy-logo.png" name="Clever Strategy" />
						<SectionPastItem img="../img/depend-logo.png" name="Depend"/>
						<SectionPastItem img="../img/bruynzeel-keukens-logo.png" name="Bruynzeel Keukens"/>
						<SectionPastItem img="../img/lucardi-logo.webp" name="Lucardi"/>
						<SectionPastItem img="../img/optitrade-logo.svg" name="Optitrade"/>
						<SectionPastItem img="../img/total-logo.png" name="Total"/>
					</div>
				</aside>
			</article>
		</div>
	</div>

	<div id="past-2">
		<div class="container">
			<article aria-labelledby="past-header2" class="grid-container reverse">
				<div class="past-article-intro">
					<h3 id="past-header2">Clever Strategy</h3>
					<p>Werkzaam als Service manager/ Front-end developer, gespecialiseerd in rendementsmarketing. Hierbij is het belangrijk dat de promoties, die zowel fysiek als digitaal kunnen zijn, optimaal worden uitgevoerd middels optimale databehandeling en opvolging. Daarbij stond ik in direct contact met enkele van onze grootste klanten, waarmee de werkzaamheden voor de promoties werden besproken.</p>
				</div>
				<aside class="thumbs" aria-hidden="true">
					<div class="grid-container">
						<SectionPastItem img="../img/clever-strategy-logo.png" name="Clever Strategy" />
						<SectionPastItem img="../img/depend-logo.png" name="Depend"/>
						<SectionPastItem img="../img/bruynzeel-keukens-logo.png" name="Bruynzeel Keukens"/>
						<SectionPastItem img="../img/lucardi-logo.webp" name="Lucardi"/>
						<SectionPastItem img="../img/optitrade-logo.svg" name="Optitrade"/>
						<SectionPastItem img="../img/total-logo.png" name="Total"/>
					</div>
				</aside>			
			</article>
		</div>
	</div>
	
	<div id="past-3">
		<div class="container">
			<article aria-labelledby="past-header3" class="grid-container">
				<div class="past-article-intro">
					<h3 id="past-header3">Lined</h3>
					<p>As part of a small team I was responsible for the front-end and  accessibility (WCAG 2.1) of our own website as well as some clients' websites. Also in charge of the front-end and achieving WCAG2.1 certification for our main product: the LMS (learning management system).</p>
				</div>
				<aside class="thumbs" aria-hidden="true">
					<div class="grid-container">
						<!-- <a class="grid-item" href="#" class="thumbA"><img src="<?=$basispad?>" alt="" class="thumbIMG"/></a>
						<a class="grid-item" href="#" class="thumbA"><img src="<?=$basispad?>" alt="" class="thumbIMG"/></a>
						<a class="grid-item" href="#" class="thumbA"><img src="<?=$basispad?>" alt="" class="thumbIMG"/></a>
						<a class="grid-item" href="#" class="thumbA"><img src="<?=$basispad?>" alt="" class="thumbIMG"/></a>
						<a class="grid-item" href="#" class="thumbA"><img src="<?=$basispad?>" alt="" class="thumbIMG"/></a>
						<a class="grid-item" href="#" class="thumbA"><img src="<?=$basispad?>" alt="" class="thumbIMG"/></a> -->
					</div>
				</aside>
			</article>
		</div>
	</div>
</section>
<style>
	section{padding-bottom:0}
</style>