---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
// const lang = getLangFromUrl(Astro.url);
const { lang } = Astro.props;
const t = useTranslations(lang);
const logoSrc = "../img/ckdev-logo.svg";
const logoSrcLight = "../img/ckdev-logo-light.svg";
---

<section id="section-hi">
	<span id={t("nav.Hi")} class="section-anchor t-0"></span>
	<div class="container">
		<div class="grid-item intro">
			<h1>{t("hi-h1")}<sub>{t("hi-h1-sub")}</sub></h1>
			<p>
				{t("hi-p")}<br />
				{t("hi-p2")}
			</p>
		</div>
		<div class="grid-item logo">
			<img src={logoSrcLight} alt="CK, Front-end developer" id="logo-ck-big" />
		</div>
	</div>
</section>
