---
import Skilltree from "../components/Skilltree.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const logoSrc = "../img/ckdev-logo.svg";
const logoSrcLight = "../img/ckdev-logo-light.svg";

/*
<!-- <object type="image/svg+xml" data="../img/ck-logo-light.svg" width="180" height="360" bgcolor="black" style="background:red;fill:red;"></object> -->
			<!-- <img src="/img/ck-logo-light.svg" style="opacity:.5"/> -->
			<!-- <img src="/img/ck-logo-oranjewit.svg" style="opacity:.5"/> -->
			<!-- <img src="/img/ck-logo-witoranje.svg" style="opacity:.5"/> -->
			<!-- <img src="/img/ck-logo-witwit.svg" style="opacity:.5"/> -->
			<!-- <img src="/img/ck-logo-1.svg" style="opacity:1"/> -->
			<!-- <img src="/img/ck-logo-10.svg" style="opacity:1"/> -->
			<!-- <img src="/img/ck-logo-13.svg" style="opacity:1"/> -->
*/
---

<section id="Hi">
	<a name={t("nav.Hi")}></a>
	<div class="container">
		<div class="grid-item intro">
			<h1>Ola, I'm Cors,<sub>Front-end web developer.</sub></h1>
			<p>
				More than 15 years of professional experience building products
				for businesses ranging from simple promotional websites, to
				enterprise webshops.<br />
				Specialized in accessibility and ease of use, making sure a nice
				experience always go first.
			</p>
		</div>
		<div class="grid-item logo">
			<img
				src={logoSrcLight}
				alt="CK, Front-end developer"
				id="logo-ck-big"
			/>
		</div>
	</div>
</section>
