<section id="section-hi">
	<div class="container">
		<div class="grid-item intro">
			<h1><a name="Hi"></a>Hi, ik ben Cors.<br/>UI web developer</h1>
			<p>More than 15 years of experience in building custom web solutions. <br/>
			Building solutions and interfaces for clients. <br/>
			Usability and a nice experience always go first. </p>
		</div>
		<div class="grid-item logo">
			<img src="img/logo-ck.png" alt="Cors Kester, UI Developer, Portfolio"/>
		</div>
	</div>
</section>
