---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section id="section-contact">
	<a name={t("nav-contact")} class="section-anchor"></a>
	<div class="container">
		<h2>Get in touch?</h2>
		You can e-mail me at <a href="mailto:ckdev88@outlook.com"
			>ckdev88@outlook.com</a
		>.
	</div>
</section>
