---
import { getLangFromUrl, useTranslations } from '../i18n/utils.ts';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<section id=Future><a name={t('nav.Future')}></a>
	<div class="container">
		<h2>As UI developer</h2>
		<p>Ik ben Frontend developer, Clang professional, online marketeer, SEO specialist, maar bovenal liefhebber van mooie, duidelijke en correcte websites. Mijn eerste en mijn huidige bureau zijn met mij klein begonnen en inmiddels opgegroeid en volwassen. Hierdoor heb ik mij altijd met alle facetten van het maken van een website/webomgeving bezig gehouden. Om deze reden zal deze portfolio gevarieerd zijn. Voor mijzelf vind ik het echter nu tijd om mij verder te specialiseren op mindere facetten tegelijk.</p>
		<p>Ik houd me graag bezig met de nieuwste ontwikkelingen en vind het een enorm leuke uitdaging om deze nieuwe ontwikkelingen steeds weer toe te passen. Hierdoor hoop ik mee te helpen aan het steeds beter en leuker worden van websites in het algemeen. Zo wordt ons web steeds aangenamer.Speciaal voor de geïnteresseerde is deze portfolio-website opgezet, kijk gerust eens rond en neem contact met me op, of niet :)</p>
	</div>
</section>