---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

import SectionPastItem from "./SectionPastItem.astro";
import BadgeItem from "./BadgeItem.astro";
---

<section id={t("nav.Past")}>
	<div class="intro">
		<div class="container">
			<h2>As Front-end developer</h2>
			Een kleine greep uit mijn gewerkte werk. Speciaal voor de liefhebber:
			onderstaand mijn portfolio. Wil je mijn C.V. ook zien? Dan is die op
			aanvraag beschikbaar.
		</div>
	</div>

	<div id="past-1">
		<div class="container">
			<article aria-labelledby="past-header" class="grid-container">
				<div class="past-article-intro">
					<h3>Visma PlusPort<sub>2017 - 2021</sub></h3>
					<p>
						As part of a small team I was responsible for the
						front-end and accessibility (WCAG 2.1) of our own
						website as well as some clients' websites. Also in
						charge of the front-end and achieving WCAG2.1
						certification for our main product: the LMS (learning
						management system).
					</p><br />
					<BadgeItem title="EcmaScript6" />
					<BadgeItem title="React" />
					<BadgeItem title="SASS" />
					<BadgeItem title="Bootstrap" />
					<BadgeItem title="Adobe XD" />
					<BadgeItem title="WordPress" />
					<BadgeItem title="ActiveCampaign" />
					<BadgeItem title="WCAG" />
				</div>
				<aside class="thumbs" aria-hidden="true">
					<div class="grid-container">
						<SectionPastItem
							img="../img/logo-plusport.svg"
							name="PlusPort"
							w="144"
							h="42"
						/>
						<SectionPastItem
							img="../img/logo-plusport-lms.png"
							name="PlusPort LMS"
							w="144"
							h="86"
						/>
						<SectionPastItem
							img="../img/logo-plusport-direct.png"
							name="PlusPort Direct"
							w="144"
							h="41"
						/>
					</div>
				</aside>
			</article>
		</div>
	</div>

	<div id="past-2">
		<div class="container">
			<article
				aria-labelledby="past-header2"
				class="grid-container reverse"
			>
				<div class="past-article-intro">
					<h3>Clever Strategy<sub>2011 - 2017</sub></h3>
					<p>
						Werkzaam als Service manager/ Front-end developer,
						gespecialiseerd in rendementsmarketing. Hierbij is het
						belangrijk dat de promoties, die zowel fysiek als
						digitaal kunnen zijn, optimaal worden uitgevoerd middels
						optimale databehandeling en opvolging. Daarbij stond ik
						in direct contact met enkele van onze grootste klanten,
						waarmee de werkzaamheden voor de promoties werden
						besproken.
					</p>
				</div>
				<aside class="thumbs" aria-hidden="true">
					<div class="grid-container">
						<SectionPastItem
							img="../img/clever-strategy-logo.png"
							name="Clever Strategy"
							w="144"
							h="66"
						/>
						<SectionPastItem
							img="../img/depend-logo.png"
							name="Depend"
							w="144"
							h="144"
						/>
						<SectionPastItem
							img="../img/bruynzeel-keukens-logo.png"
							name="Bruynzeel Keukens"
							w="144"
							h="144"
						/>
						<SectionPastItem
							img="../img/lucardi-logo.webp"
							name="Lucardi"
							w="144"
							h="43"
						/>
						<SectionPastItem
							img="../img/optitrade-logo.svg"
							name="Optitrade"
							w="144"
							h="43"
						/>
						<SectionPastItem
							img="../img/total-logo.png"
							name="Total"
							w="144"
							h="144"
						/>
					</div>
				</aside>
			</article>
		</div>
	</div>

	<div id="past-3">
		<div class="container">
			<article aria-labelledby="past-header4" class="grid-container">
				<div class="past-article-intro">
					<h3>Fair Products Plaza <sub>2011 - 2016</sub></h3>
					<p>
						Samen met mijn zus een webshop opgezet en gerund voor
						eerlijke producten. Dit hield in dat alle producten een
						oorsprong hadden van Fair trade, biologisch, organisch,
						dierproefvrij en milieuvriendelijk. De webshop was
						gebouwd in Magento (PHP), de mailcampagnes werden gedaan
						via MailChimp. Helaas hebben we eind 2016 de stekker uit
						het project moeten trekken.
					</p>
				</div>
				<aside class="thumbs" aria-hidden="true">
					<div class="grid-container">
						<SectionPastItem
							img="../img/lined-logo.svg"
							name="Lined"
							w="144"
							h="144"
						/>
						<SectionPastItem
							img="../img/troublefree-logo.svg"
							name="Total"
							w="144"
							h="144"
						/>
					</div>
				</aside>
			</article>
		</div>
	</div>

	<div id="past-4">
		<div class="container">
			<article
				aria-labelledby="past-header3"
				class="grid-container reverse"
			>
				<div class="past-article-intro">
					<h3>Lined <sub>2006 - 2011</sub></h3>
					<p>
						As part of a small team I was responsible for the
						front-end and accessibility (WCAG 2.1) of our own
						website as well as some clients' websites. Also in
						charge of the front-end and achieving WCAG2.1
						certification for our main product: the LMS (learning
						management system).
					</p>
				</div>
				<aside class="thumbs" aria-hidden="true">
					<div class="grid-container">
						<SectionPastItem
							img="../img/lined-logo.svg"
							name="Lined"
							w="144"
							h="144"
						/>
						<SectionPastItem
							img="../img/troublefree-logo.svg"
							name="Total"
							w="144"
							h="144"
						/>
					</div>
				</aside>
			</article>
		</div>
	</div>
</section>
