---
import SectionToolsItem from './SectionToolsItem.astro';
---

<section id="section-tools">
	<div class="intro">
		<div class="container">
			<h2><a name="Tools"></a>Tools</h2>
			<p>The tools most used, not particularly in this order.</p>
		</div>
	</div>
	<div id="tools-1">
		<div class="container">
			<div class="flex-container">
				<SectionToolsItem img="img/xd-logo.svg" name="Adobe XD" />
				<SectionToolsItem img="img/xd-logo.svg" name="Adobe XD" />
				<SectionToolsItem img="img/photoshop-logo.svg" name="Photoshop" />
				<SectionToolsItem img="img/github-logo.svg" name="Github" />
				<SectionToolsItem img="img/vscode-logo.png" name="VS Code" />
				<SectionToolsItem img="img/npm-logo.svg" name="NPM" />
				<SectionToolsItem img="img/nodejs-logo.svg" name="Node" />
				<SectionToolsItem img="img/gulp-logo.svg" name="GULP" />
				<SectionToolsItem img="img/mailchimp-logo.svg" name="Mailchimp" />
				<SectionToolsItem img="img/activecampaign-logo.svg" name="ActiveCampaign" />
				<SectionToolsItem img="img/figma-logo.svg" name="Figma" />
				<SectionToolsItem img="img/wordpress-logo.png" name="WordPress" />
				<SectionToolsItem img="img/webpack-logo.svg" name="WebPack" />
				<SectionToolsItem img="img/Bootstrap.svg" name="Bootstrap" />
				<SectionToolsItem img="img/sass-logo.svg" name="Sass" />					
				<SectionToolsItem img="img/w3c-logo.svg" name="W3C Validator" />
				<SectionToolsItem img="img/deployteq-logo.svg" name="Deployteq" />
				<SectionToolsItem img="img/litmus-logo.svg" name="Litmus" />

				<!-- overig -->
				<!-- <SectionToolsItem img="img/astro-logo.svg" name="Astro" />
				<SectionToolsItem img="img/postcss-logo.svg" name="Sass" /> -->
				<!-- /overig -->

					<!-- Overig:
					<img src="<?=$basispad?>img/python-logo.svg" alt=""/>
					<img src="<?=$basispad?>img/reactjs-logo.svg" alt=""/>
					<img src="<?=$basispad?>img/smarty-logo.png" alt=""/>
					<img src="<?=$basispad?>img/vuejs-logo.svg" alt=""/> -->
			</div>
		</div>
	</div>
</section>