---
import SkilltreeCat from "./SkilltreeCat.astro";
import SkilltreeItem from "./SkilltreeItem.astro";

import SectionSkillsItem from "./SectionSkillsItem.astro";
import { getLangFromUrl, useTranslations } from '../i18n/utils.ts';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<h2>Skill stack</h2>
<p>Over the years, many skills have come and partially gone, these are the one that stuck.</p><br/>
<ul id="skilltree">
	<!-- <SkilltreeCat id="st-html" name="HTML" /> -->
	<li id="st-html" class="li-level-1">
		<!-- <SkilltreeCat img="../img/html5-logo.png" heading="HTML" name="HTML 5" classname="large"/> -->
		<h3 class="tool-item-wrapper">
			<div class="tool-item">
				<img src="../img/html5-logo.png" alt="HTML 5"/>
			</div>
		</h3>
		<!-- <img src="../img/logo-html5.svg" heading="HTML" name="HTML 5" classname="large"/> -->
		<ul class="ul-level-2">
			<li class="fundamentals li-level-2">
				<h4>Fundamentals</h4>
				<ul class="ul-level-3">
					<SkilltreeItem skill="Semantic HTML 5" />
					<SkilltreeItem skill="Accessibility" />
					<SkilltreeItem skill="Organic SEO" />
				</ul>
			</li>
			<li class="preprocessors li-level-2">
				<h4>Processors</h4>
				<ul class="ul-level-3">
					<SkilltreeItem skill="PHP" />
					<SkilltreeItem skill="Astro" />
					<SkilltreeItem skill="WordPress" />
				</ul>
			</li>
			<li class="email li-level-2">
				<h4>E-mail</h4>
				<ul class="ul-level-3">
					<SkilltreeItem skill="Responsive" />
					<SkilltreeItem skill="Deliverability" />
					<SkilltreeItem skill="Targeting campaigns" />
				</ul>
			</li>
		</ul>
	</li>
	<li id="st-css" class="li-level-1">
		<SkilltreeCat img="../img/css3-shield.svg" heading="CSS" name="CSS 3" classname="large"/>
		<ul class="ul-level-2">
			<li class="fundamentals li-level-2">
				<h4>Fundamentals</h4>
				<ul class="ul-level-3">
					<SkilltreeItem skill="CSS 3"  className="pg-95"/>
					<SkilltreeItem skill="responsive" />
				</ul>
			</li>
			<li class="preprocessors li-level-2">
				<h4>Processors</h4>
				<ul class="ul-level-3">
					<SkilltreeItem skill="Sass" />
					<SkilltreeItem skill="PostCSS" />
				</ul>
			</li>
			<li class="frameworks li-level-2">
				<h4>Frameworks</h4>
				<ul class="ul-level-3">
					<SkilltreeItem skill="Bootstrap" />
					<SkilltreeItem skill="Semantic-UI" />
					<SkilltreeItem skill="Tailwind" />
				</ul>
			</li>
		</ul>
	</li>
	<li id="st-javascript" class="li-level-1">
		<SkilltreeCat img="../img/javascript-logo.svg" heading="JavaScript" name="JavaScript" classname="large"/>
		<ul class="ul-level-2">
			<li class="fundamentals li-level-2">
				<h4>Fundamentals</h4>
				<ul class="ul-level-3">
					<SkilltreeItem skill="EcmaScript 6" />
					<SkilltreeItem skill="TypeScript" />
				</ul>
			</li>
			<li class="task-runners li-level-2">
				<h4>Tasks &amp; Testing</h4>
				<ul class="ul-level-3">
					<SkilltreeItem skill="Node" />
					<SkilltreeItem skill="Gulp" />
					<SkilltreeItem skill="Jest" />
				</ul>
			</li>
			<li class="framework li-level-2">
				<h4>Frameworks</h4>
				<ul class="ul-level-3">
					<SkilltreeItem skill="Vue" />
					<SkilltreeItem skill="React" />
					<SkilltreeItem skill="Svelte" />
				</ul>
			</li>
		</ul>
	</li>
</ul>
<!-- <section id="Skills"><a name={t('nav.Skills')}></a>
	<div class="intro">
		<div class="container">
			<h2>Skills</h2>
			<p>Over the years, many skills have come and partially gone, these are the one that stuck.</p>
		</div>
	</div>
	<div id="skills-1">
		<div class="container">
			<ul class="skills-and-progress">
				<SectionSkillsItem name="HTML" className="pg-95" />
				<SectionSkillsItem name="CSS" className="pg-95" />
				<SectionSkillsItem name="JAVASCRIPT" className="pg-95" />
				<SectionSkillsItem name="ACCESSIBILITY" className="pg-95" />
				<SectionSkillsItem name="HTML E-MAIL MARKETING" className="pg-90" />
				<SectionSkillsItem name="NODE JS" className="pg-90" />
				<SectionSkillsItem name="SEARCH ENGINE OPTIMIZATION" className="pg-90" />
				<SectionSkillsItem name="VUE JS" className="pg-85" />
				<SectionSkillsItem name="GULP" className="pg-85" />
				<SectionSkillsItem name="PHP" className="pg-80" />
				<SectionSkillsItem name="WORDPRESS" className="pg-80" />
				<SectionSkillsItem name="E-MAIL MARKETING" className="pg-80" />
				<SectionSkillsItem name="REACT JS" className="pg-80" />
				<SectionSkillsItem name="TYPESCRIPT" className="pg-80" />
				<SectionSkillsItem name="PROTOTYPE &amp; WIREFRAMING" className="pg-75" />
				<SectionSkillsItem name="NPM" className="pg-75" />
				<SectionSkillsItem name="ANGULAR JS" className="pg-75" />
				<SectionSkillsItem name="SMARTY" className="pg-75" />
				<SectionSkillsItem name="MAGENTO" className="pg-75" />
			</ul>
		</div>
	</div>
</section> -->
