---
import SkilltreeCat from "./SkilltreeCat.astro";
import SkilltreeItem from "./SkilltreeItem.astro";

import SectionSkillsItem from "./SectionSkillsItem.astro";
import { getLangFromUrl, useTranslations } from '../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
import Tools from './Tools.astro';
---
<h2>Skill stack</h2>
<p>Over the years, many skills have come and partially gone, these are the one that stuck.</p><br/>
<div id="skilltree-wrapper" class="skills-container">
	<ul id="skilltree" class="grid-item">
		<!-- <SkilltreeCat id="st-html" name="HTML" /> -->
		<li id="st-html" class="li-level-1">
			<!-- <SkilltreeCat img="../img/html5-logo.png" heading="HTML" name="HTML 5" classname="large"/> -->
			<h3 class="tool-item-wrapper">
				<div class="tool-item">
					<img src="../img/html5-logo.png" alt="HTML 5"/>
				</div>
			</h3>
			<!-- <img src="../img/logo-html5.svg" heading="HTML" name="HTML 5" classname="large"/> -->
			<ul class="ul-level-2">
				<li class="fundamentals li-level-2">
					<h4>Fundamentals</h4>
					<ul class="ul-level-3">
						<SkilltreeItem skill="Semantic HTML 5" />
						<SkilltreeItem skill="Accessibility" />
						<SkilltreeItem skill="Organic SEO" />
					</ul>
				</li>
				<li class="preprocessors li-level-2">
					<h4>Processors</h4>
					<ul class="ul-level-3">
						<SkilltreeItem skill="PHP" />
						<SkilltreeItem skill="Astro" />
						<SkilltreeItem skill="WordPress" />
					</ul>
				</li>
				<li class="email li-level-2">
					<h4>E-mail</h4>
					<ul class="ul-level-3">
						<SkilltreeItem skill="Responsive" />
						<SkilltreeItem skill="Deliverability" />
						<SkilltreeItem skill="Targeting campaigns" />
					</ul>
				</li>
			</ul>
		</li>
		<li id="st-css" class="li-level-1">
			<SkilltreeCat img="../img/css3-shield.svg" heading="CSS" name="CSS 3" classname="large"/>
			<ul class="ul-level-2">
				<li class="fundamentals li-level-2">
					<h4>Fundamentals</h4>
					<ul class="ul-level-3">
						<SkilltreeItem skill="CSS 3"  className="pg-95"/>
						<SkilltreeItem skill="Responsive" />
					</ul>
				</li>
				<li class="preprocessors li-level-2">
					<h4>Processors</h4>
					<ul class="ul-level-3">
						<SkilltreeItem skill="Sass" />
						<SkilltreeItem skill="PostCSS" />
					</ul>
				</li>
				<li class="frameworks li-level-2">
					<h4>Frameworks</h4>
					<ul class="ul-level-3">
						<SkilltreeItem skill="Bootstrap" />
						<SkilltreeItem skill="Semantic-UI" />
						<SkilltreeItem skill="Tailwind" />
					</ul>
				</li>
			</ul>
		</li>
		<li id="st-javascript" class="li-level-1">
			<SkilltreeCat img="../img/javascript-logo.svg" heading="JavaScript" name="JavaScript" classname="large"/>
			<ul class="ul-level-2">
				<li class="fundamentals li-level-2">
					<h4>Fundamentals</h4>
					<ul class="ul-level-3">
						<SkilltreeItem skill="EcmaScript 6" />
						<SkilltreeItem skill="TypeScript" />
					</ul>
				</li>
				<li class="task-runners li-level-2">
					<h4>Tasks &amp; Testing</h4>
					<ul class="ul-level-3">
						<SkilltreeItem skill="Node" />
						<SkilltreeItem skill="Gulp" />
						<SkilltreeItem skill="Jest" />
					</ul>
				</li>
				<li class="framework li-level-2">
					<h4>Frameworks</h4>
					<ul class="ul-level-3">
						<SkilltreeItem skill="Vue" />
						<SkilltreeItem skill="React" />
						<SkilltreeItem skill="Svelte" />
					</ul>
				</li>
			</ul>
		</li>
	</ul>
	<div class="grid-item tools">
		<Tools /> 
	</div>
</div>

<script>
document.querySelector("#st-css")?.addEventListener("click",()=>{
	console.log('st-css clicked');
	document.querySelector("#tools-css")?.classList.remove("hidden");
	document.querySelector("#tools-html")?.classList.add("hidden");
	document.querySelector("#tools-javascript")?.classList.add("hidden");
});
document.querySelector("#st-javascript")?.addEventListener("click",()=>{
	console.log('st-javascript clicked');
	document.querySelector("#tools-javascript")?.classList.remove("hidden");
	document.querySelector("#tools-html")?.classList.add("hidden");
	document.querySelector("#tools-css")?.classList.add("hidden");
});
document.querySelector("#st-html")?.addEventListener("click",()=>{
	console.log('st-html clicked');
	document.querySelector("#tools-html")?.classList.remove("hidden");
	document.querySelector("#tools-css")?.classList.add("hidden");
	document.querySelector("#tools-javascript")?.classList.add("hidden");
});
</script>