---
import { getLangFromUrl, useTranslations } from '../i18n/utils.ts';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

import ToolsItem from './ToolsItem.astro';
---

<div id="Tools">
	<div class="tools-grid" id="tools-html">
		<ToolsItem img="../img/photoshop-logo.svg" name="Photoshop" />
		<ToolsItem img="../img/html5-logo.png" name="HTML 5" />
		<ToolsItem img="../img/figma-logo.svg" name="Figma" />
		<ToolsItem img="../img/xd-logo.svg" name="Adobe XD" />
		<ToolsItem img="../img/w3c-logo.svg" name="W3C Validator" />
		<ToolsItem img="../img/wcag2.1AA-v-logo.svg" name="WCAG 2.1" />
		<ToolsItem img="../img/astro-logo.svg" name="Astro" />
		<ToolsItem img="../img/github-logo.svg" name="Github" />
		<ToolsItem img="../img/wordpress-logo.png" name="WordPress" />
		<ToolsItem img="../img/Bootstrap.svg" name="Bootstrap" />
		<ToolsItem img="../img/litmus-logo.svg" name="Litmus" />
		<ToolsItem img="../img/smarty-logo.png" name="Smarty" />
		<ToolsItem img="../img/mailchimp-logo.svg" name="Mailchimp" />
		<ToolsItem img="../img/deployteq-logo.svg" name="Deployteq" />
		<ToolsItem img="../img/activecampaign-logo.svg" name="ActiveCampaign" />
	</div>
	<div class="tools-grid hidden" id="tools-css">
		<ToolsItem img="../img/Bootstrap.svg" name="Bootstrap" />
		<ToolsItem img="../img/css3-logo.svg" name="CSS 3" />
		<ToolsItem img="../img/github-logo.svg" name="Github" />
		<ToolsItem img="../img/sass-logo.svg" name="Sass" />
		<ToolsItem img="../img/postcss-logo.svg" name="Post CSS" />
		<ToolsItem img="../img/tailwind-css-logo.svg" name="Tailwind CSS" />
	</div>
	<div class="tools-grid hidden" id="tools-javascript">
		<ToolsItem img="../img/es6-logo.png" name="EcmaScript 6" />
		<ToolsItem img="../img/javascript-logo.svg" name="Javascript" />
		<ToolsItem img="../img/typescript-logo.svg" name="TypeScript" />
		<ToolsItem img="../img/nodejs-logo.svg" name="Node" />
		<ToolsItem img="../img/gulp-logo.svg" name="GULP" />
		<ToolsItem img="../img/webpack-logo.svg" name="WebPack" />
		<ToolsItem img="../img/reactjs-logo.svg" name="" />
		<ToolsItem img="../img/vuejs-logo.svg" name="" />
		<ToolsItem img="../img/svelte-logo.svg" name="Svelte" />
		<!-- overig -->
		<!-- <ToolsItem img="../img/npm-logo.svg" name="NPM" /> -->
		<!-- <ToolsItem img="../img/python-logo.svg" name="Python" /> -->
		<!-- /overig -->
	</div>
</div>