/*---ALGEMEEN*/
html,
body {
	margin: 0;
	padding: 0;
	cursor: default;
	font-size: 16px;
}
html {
	height: 100%;
	scroll-behavior: smooth;
	scroll-padding-top: 66px;
}
body,
td,
textarea,
pre,
input {
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.7em;
}
body,
td,
textarea,
pre,
input,
h1,
h2,
h3,
select,
option {
	font-family: "Outfit", sans-serif;
}

textarea,
input {
}
input[type="text"] {
	height: auto;
	width: auto;
	line-height: 1em;
}
code {
	font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
		DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}
h1,
h2,
h3 {
	font-weight: 600;
}
h1 {
	font-size: 3rem;
	line-height: 1.1em;
	margin-bottom: 0.4em;
	width: 100%;
}
h2 {
	font-size: 2.4rem;
	line-height: 1.1em;
	margin-bottom: 0.4em;
}
h3 {
	font-size: 1.6rem;
	margin-top: 0;
	padding-bottom: 1em;
}
h3[onclick]:hover {
	cursor: pointer;
}
h4 {
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
}
h5 {
	font-size: 14px;
	font-weight: normal;
	font-style: italic;
}
hr {
	height: 1px;
	background-color: #555;
	border: 0;
	margin: 10px 0;
}
table,
td {
	border: 0;
}
td {
	vertical-align: top;
}
b,
strong {
	font-weight: bold;
}
input[type="checkbox"] {
	border: 0;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	cursor: pointer;
}
a img {
	border: 0;
}
p {
	margin: 0;
	padding: 0;
}
form {
	padding: 0;
	margin: 0;
}
article,
article > div {
	vertical-align: middle;
}

section {
	padding: 1rem 0;
}

#nav-top a {
	text-shadow: rgba(0, 0, 0, 0.5) 0 0 1px;
}
main {
	max-width: 100%;
	overflow-x: hidden;
}
