#nav-container {
	display: flex;
	justify-content: space-between;
}
#nav-top {
	display: flex; /* justify-content: space-between; */
	font-family: "Outfit-Medium", sans-serif;
}

#homelink {
	position: absolute;
	display: block;
	width: 2rem;
	margin-top: -1rem;
	background: rgba(255, 255, 255, 0.5);
	background: rgba(255, 255, 255, 1);
	padding: 0.3rem;
	border-radius: 0 0 0.5rem 0.5rem;
	box-shadow: rgba(0, 0, 0, 0.2) -0px -0px 5px;
	border: 1px solid white;
	& > img {
		display: block;
		max-width: 100%;
		height: auto;
		object-fit: contain;
	}
	@media (--viewport-s) {
		display: none;
	}
}
#nav-accessibility {
	display: flex;
	padding-top: 0;
	& a {
		display: block;
		height: fit-content;
		margin: 0 0 0 1rem;
		line-height: 1em;
	}
	& img {
		max-height: 22px;
		width: auto;
	}
}

#pages,
#pages li {
	list-style: none;
	padding: 0;
	margin: 0;
}
#pages {
	font-weight: 1.1rem;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-left: 4rem;
	& li {
		display: inline-block;
		padding: 0 0.8rem;
		@media (--viewport-m) {
			padding: 0 0.6rem;
		}
	}
	& a {
		line-height: 1em;
		/* color: #191919; */
		color: #fafafa;
		transition: border-color 0.3s ease-in-out, color 0.2s ease-in-out;
		text-decoration: none;
		border-width: 0 0 1px;
		border-color: transparent;
		border-style: solid;
		text-transform: uppercase;
	}
}
#pages a:hover,
#pages a:focus,
#page a:active,
#page .active {
	border-color: #fafafa;
}
