#nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 0;
	padding-bottom: 0;
	@media (--viewport-s) {
		/* margin-left:1rem;
		margin-right:1rem; */
	}
}
#nav-top {
	display: flex;
	font-weight: 500;
	align-items: center;
	width:100%;
	@media (--viewport-xl) {
		width:600px;
	}
	& #pages {
		@media (--viewport-s) {
			display: none;
		}
	}
}

#homelink {
	transition:1s filter ease-in-out;
	display: block;
	height: auto;
	padding: 0;
	border-radius: 0;
	z-index: 1;
	position: relative;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	@media (--viewport-s) {
		padding-top: 0;
		padding-bottom: 0;
	}
	& > img {
		display: block;
		max-width: 100%;
		height: 32px;
		width: 25px;
		fill: white;
	}
}

#nav-accessibility {
	display: flex;
	padding-top: 0;
	& button {
		background: none;
		border: 0;
		padding: 0;
	}
	& > div,
	label {
		display: flex;
		align-items: center;
	}
	& a {
		display: block;
		height: fit-content;
		margin: 0 0 0 1rem;
		line-height: 1em;
	}
	& img {
		max-height: 22px;
		width: auto;
	}
}

#pages,
#pages li {
	list-style: none;
	padding: 0;
	margin: 0;
}
#pages {
	font-size: 0.8rem;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-left: 1rem;
	@media (--viewport-xl), (--viewport-l) {
		width: 650px;
	}
	@media (--viewport-m) {
		width: auto;
	}
	@media (--viewport-s) {
		padding-left: 0;
	}
	line-height: 1em;
	height: 1em;
	& li {
		/* transition: opacity 1s ease-in-out; */
		/* opacity: 1; */
		display: inline-block;
		padding: 0 0.8rem;
		height: max-content;
		@media (--viewport-m) {
			padding: 0 0.6rem;
		}
	}
	& a {
		line-height: 1em;
		color: #fafafa;
		transition: border-color 0.3s ease-in-out, color 0.2s ease-in-out;
		text-decoration: none;
		border-width: 0 0 1px;
		border-color: transparent;
		border-style: solid;
		text-transform: uppercase;
	}
}

#nav-languages {
	position: relative;
	background: transparent;
	border: none;
	color: #fff;
	cursor: pointer;
	padding-left: 1.5rem;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	padding-right: 0.5rem;
	padding-inline-start: 1.5rem;
	padding-inline-end: 1.5rem;
	border-image-width: 0 !important;
	& option {
		background: #123456;
		color: #fff;
		padding: 5px 0;
		height: 2rem;
		padding: 1rem;
		line-height: 1.5rem;
		border: 0 !important;
	}
	&:focus-visible {
		border: none;
		box-shadow: none;
	}
	&.show {
		visibility: visible;
	}
	&:active {
		border: 0;
	}
}

#theme-btn {
	/* margin: 2px 0.5rem;  -- tijdelijk weg, omdat LanguagePicker uit staat*/
	margin: 2px 0;
}
#nav-accessibility-language svg {
	position: absolute;
}
