.container {
	max-width: var(--container-width);
	margin: 0 auto;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	min-width:320px;
	@media (--viewport-m) {
		padding-left: 0;
		padding-right: 0;
	}
}
/* responsive overrides */
@media (--viewport-l) {
	aside .grid-container {
	}
}
@media (--viewport-xs) {
	#container {
		min-width: 320px;
	}
	.past-article-intro {
		padding-right: 0;
		align-self: auto;
	}
	article.grid-container {
		display: block;
		grid-template-columns: auto;
	}
}
