section {
	padding-left: 1rem;
	padding-right: 1rem;
}
#section-skills-1 {
}
#Hi {
	& .container {
		display: grid;
		grid-template-columns: 50% 50%;
	}
	& .intro {
		padding: 3rem 0;
	}
	& .logo {
		align-self: center;
		margin-left: 3rem;
		& img {
			max-height: 370px;
			height: 300px;
			width: auto;
			max-width: 100%;
		}
	}
}

#Past {
	& .container {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
	& > div + div {
		margin-left: -1rem;
		margin-right: -1rem;
		& .container {
			padding-left: 1rem;
			padding-right: 1rem;
		}
	}
}

#Tools ul {
	display: grid;
}
#Tools li {
	display: flex;
	border-radius: 0.5rem;
	overflow: hidden;
	align-items: center;
}
#Tools img {
	display: block;
	max-height: 3rem;
}
#Tools .flex-container {
	margin-left: -1.5rem;
	margin-right: -1.5rem;
}
#Tools .flex-container img {
	margin: 5px 1.5rem 1rem;
	width: auto;
	height: 75px;
	line-height: 75px;
	color: white;
	font-weight: bold;
	text-align: center;
	border-radius: 8px;
	@media (--viewport-m) {
		height: 3rem;
		line-height: 3rem;
		margin: 0.3rem 1rem;
	}
}
