#section-skills-1 {
	background-color: lime;
}
#section-hi {
	background: rgba(255, 255, 255, 0.7);
	background: linear-gradient(
		180deg,
		#faeaee 0%,
		#faeaee 70%,
		#faeaee 85%,
		#eadade 100%
	);
	& .container {
		display: grid;
		grid-template-columns: 50% 50%;
	}
	& .intro {
		padding: 3rem 0;
	}
	& .logo {
		align-self: center;
		margin-left: 3rem;
		& img {
			max-height: 370px;
			height: 300px;
			width: auto;
			max-width: 100%;
			transform: rotate(-30deg);
		}
	}
}

#section-intro2 {
	background: linear-gradient(
		180deg,
		#cadcfa 0%,
		#cadcfa 40%,
		#d5e7fa 80%,
		#c8daf8 100%
	);
}

#section-past {
	background: white;
	& .container {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
}
#section-past .intro {
	background: rgba(200, 240, 240, 0.1);
}
#past-1 {
	background: linear-gradient(
		180deg,
		#daf3e2 0%,
		#daf3e2 40%,
		#daf3e2 80%,
		#cfedd8 100%
	);
}
#past-2 {
	/* background: rgba(125, 140, 180, 0.1); */
	background: linear-gradient(
		180deg,
		#d3dbea 0%,
		#d3dbea 40%,
		#d3dbea 80%,
		#c7cedd 100%
	);
}
#past-3 {
	background: linear-gradient(
		180deg,
		#e8d6d6 0%,
		#e8d6d6 40%,
		#e8d6d6 80%,
		#e1cfcf 100%
	);
}

#section-skills {
	background: linear-gradient(
		180deg,
		#d8dac5 0%,
		#d8dac5 40%,
		#d9dace 80%,
		#d3d5c0 100%
	);
}

/* #skills-1{background:#fff} */

#section-tools {
	background: linear-gradient(180deg, #d8dad8 0%, #e9ebe9 80%, #d8dad8 100%);
}

#section-tools ul {
	display: grid;
}
#section-tools li {
	display: flex;
	border-radius: 0.5rem;
	overflow: hidden;
	align-items: center;
}
#section-tools img {
	display: block;
	max-height: 3rem;
}
#section-tools .flex-container {
	margin-left: -1.5rem;
	margin-right: -1.5rem;
}
#section-tools .flex-container img {
	margin: 5px 1.5rem 1rem;
	width: auto;
	height: 75px;

	line-height: 75px;
	color: white;
	font-weight: bold;
	/* font-size: 1em; */
	text-align: center;
	border-radius: 8px;
}
