#theme-backdrop {
	transition: opacity 0.5s ease-in-out, background-color 0.5 ease-in-out;
}
html[data-theme="light"] {
	& #theme-backdrop {
		transition: background-color 0.5 ease-in-out;
		background-color: #d9d2d1;
		opacity: 1;
	}
	& body {
		background: white;
	}
	& #sun-svg {
		opacity: 1;
	}
	& #moon-svg {
		opacity: 0;
	}

	& body,
	td,
	textarea,
	pre,
	input,
	h2,
	h3,
	#pages a,
	#nav-languages {
		color: #252525;
	}

	& h1,
	h2,
	h3,
	p,
	li {
		text-shadow: rgba(255, 255, 255, 0.5) 0 0 1px;
	}

	/* #container{
		background: linear-gradient(
			180deg,
			rgba(118, 143, 126, 0.2) 0%,
			rgba(118, 143, 126, 0.2) 80%,
			rgba(107, 137, 116, 0.2) 100%
		);
	} */
	& #header-page {
		background: #d9d2d1;
		border-bottom: 2px dashed #252525;
	}

	& #header-page {
		animation-name: mymove;
		animation-duration: 1s;
		animation-delay: 0.6s;
	}
	@keyframes mymove {
		0% {
			background-color: transparent;
		}
		50% {
			background-color: transparent;
		}
		100% {
			background-color: #d9d2d1;
		}
	}

	& #Hi,
	#Skills {
		background: linear-gradient(
			180deg,
			transparent 0%,
			transparent 80%,
			rgba(0, 0, 0, 0.05) 100%
		);
	}

	& #Past,
	footer {
		background: linear-gradient(
			180deg,
			rgba(0, 0, 0, 0.05) 0%,
			transparent 80%,
			transparent 100%
		);
	}

	& #skilltree .arrow-guide path {
		fill: #e35508;
	}

	#nav-top a {
		text-shadow: rgba(255, 255, 255, 0.5) 0 0 1px;
	}

	#nav-accessibility-language svg path,
	#sun-svg path,
	#moon-svg path {
		fill: #252525;
	}
	#pages a:hover,
	#pages a:focus,
	#page a:active,
	#page .active {
		border-color: #252525;
	}
	#homelink img.dark {
		display: block;
		opacity: 1;
	}
	#homelink img.light {
		display: none;
		opacity: 0;
	}
	footer a {
		text-shadow: 0 0 1px white;
	}
	#skilltree {
		& .li-level-2 {
			& h4 {
				color: #7b6f6f;
			}
		}
	}
}
