html[data-theme="light"] {
	& section {
		border-bottom-color: #30262388;
	}
	& #theme-backdrop {
		transition: background-color 0.3 ease-in-out;
		background-color: #d9d2d1;
		opacity: 1;
	}
	& body {
		background: white;
	}
	& #sun-svg {
		opacity: 1;
	}
	& #moon-svg {
		opacity: 0;
	}

	& body,
	td,
	textarea,
	pre,
	input,
	h2,
	h3,
	#pages a,
	#nav-languages {
		color: #252525;
	}

	& h1,
	h2,
	h3,
	p,
	li {
		text-shadow: rgba(255, 255, 255, 0.5) 0 0 1px;
	}

	& #header-page {
		background: #d9d2d1;
		border-bottom: 2px dashed #252525;
	}

	& #section-hi {
		& .logo {
			filter: invert(0.5) saturate(1);
			animation-name: blinkbiglogo;
			animation-duration: 6s;
			animation-iteration-count: infinite;
		}
	}
	& #homelink {
		filter: invert(1);
	}

	& #section-hi,
	#section-skills {
		background: linear-gradient(
			180deg,
			transparent 0%,
			transparent 80%,
			rgba(0, 0, 0, 0.05) 100%
		);
	}

	& #section-past,
	#section-contact {
		background: linear-gradient(
			180deg,
			rgba(0, 0, 0, 0.05) 0%,
			transparent 80%,
			transparent 100%
		);
	}
	& #skilltree .arrow-guide path {
		fill: #e35508;
	}

	& #nav-top a {
		text-shadow: rgba(255, 255, 255, 0.5) 0 0 1px;
	}

	& #nav-accessibility-language svg path,
	#sun-svg path,
	#moon-svg path {
		fill: #252525;
	}
	& #pages a:hover,
	#pages a:focus,
	#page a:active,
	#page .active {
		border-color: #252525;
	}
	& footer a,
	#section-contact a {
		text-shadow: 0 0 1px white;
	}
	& #skilltree {
		& .li-level-2 {
			& h4 {
				color: #7b6f6f;
			}
		}
	}
}
@keyframes blinkbiglogo {
	0% {
		filter: invert(0.3);
	}
	50% {
		filter: invert(0.8);
	}
	100% {
		filter: invert(0.3);
	}
}

@media (--viewport-s) {
	@keyframes blinkbiglogo {
		0% {
			filter: invert(0.2);
		}
		50% {
			filter: invert(0.4);
		}
		100% {
			filter: invert(0.2);
		}
	}
}
