html[data-theme="dark"] {
	& #theme-backdrop {
		transition: background-color 0.3 ease-in-out;
		background-color: #190d0a;
		opacity: 1;
	}
	& body {
		background: black;
	}
	& #sun-svg {
		opacity: 0;
	}
	& #moon-svg {
		opacity: 1;
	}

	& body,
	td,
	textarea,
	pre,
	input,
	h2,
	h3,
	#pages a,
	#nav-languages {
		color: #f9f9f9;
	}

	& h1,
	h2,
	h3,
	p,
	li {
		text-shadow: rgba(0, 0, 0, 0.5) 0 0 1px;
	}

	& #header-page {
		background: #190d0a;
		border-bottom: 2px dashed #f2e2e6;
	}

	& #homelink {
		filter: invert(0);
	}

	& #section-hi {
		background: linear-gradient(
			180deg,
			transparent 0%,
			transparent 80%,
			rgba(0, 0, 0, 0.4) 100%
		);
		& .logo {
			filter: invert(0.2);
			animation-name: blinkbiglogo;
			animation-duration: 5s;
			animation-iteration-count: infinite;
		}
	}

	& #section-past {
		background: linear-gradient(
			180deg,
			rgba(0, 0, 0, 0.4) 0%,
			transparent 80%,
			transparent 100%
		);
	}

	& #section-skills {
		background: linear-gradient(
			180deg,
			transparent 0%,
			transparent 80% rgba(0, 0, 0, 0.4) 100%
		);
	}

	& #skilltree .arrow-guide path {
		fill: #e35508;
	}

	& #nav-top a {
		text-shadow: rgba(255, 255, 255, 0.5) 0 0 1px;
	}

	& #nav-accessibility-language svg path,
	#sun-svg path,
	#moon-svg path {
		fill: #f9f9f9;
	}
	& #pages a:hover,
	#pages a:focus,
	#page a:active,
	#page .active {
		border-color: #fafafa;
	}
	& footer a,
	#section-contact a {
		color: #f36547;
		text-shadow: 0 0 1px black;
	}
	& #skilltree {
		& .li-level-2 {
			& h4 {
				color: #817875;
			}
		}
	}
}

@keyframes blinkbiglogo {
	0% {
		filter: invert(0.2);
	}
	50% {
		filter: invert(0.7);
	}
	100% {
		filter: invert(0.2);
	}
}

@media (--viewport-s) {
	@keyframes blinkbiglogo {
		0% {
			filter: invert(0.4);
		}
		50% {
			filter: invert(0.8);
		}
		100% {
			filter: invert(0.4);
		}
	}
}
