html {
	color-scheme: light dark;
}
#theme-backdrop {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 0;
	transition: background-color 0.3s ease-in-out;
	padding-bottom:1rem;
}
#container {
	position: relative;
	z-index: 1;
}
