#Tools {
	height: 100%;
	display: flex;
	align-items: center;
	& ul {
		display: grid;
	}
	& li {
		display: flex;
		overflow: hidden;
		align-items: center;
	}
	& .tool-item-wrapper {
		border-radius: 50%;
		background-color: #fff;
		padding: 0.25rem;
		object-fit: contain;
		display: block;
		width: auto;
		line-height: 5rem;
		width: 5rem;
		height: 5rem;
		color: white;
		font-weight: bold;
		text-align: center;
		margin-left: -1rem;

		&:nth-child(2n + 2) {
			margin-top: -2rem;
			margin-left: -1rem;
		}

		@media (--viewport-m) {
			height: 3rem;
			line-height: 3rem;
			margin: 0.3rem 1rem;
			max-width: 100%;
		}

		& .tool-item {
			height: inherit;
			border-radius: 50%;
			background: white;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;

			& img {
				margin-top: 0;
				width: auto;
				height: auto;
				max-height: 3rem;
				position: relative;
				max-width: 3rem;
				display: block;
			}
		}
	}
}

.tools-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding-top: 2rem;
}
